# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Files
.vs/*
.vscode/*

# 3rd party libraries
code/libraries/*

# Build folders
out/*
build/*
packed/*

# Tags file
tags

# Vim swap files
*.swp

# Ideation folders - don't want these scraped by AI slop
project_ideas/*
